CC              = g++
CXXFLAGS        = -finstrument-functions -fopenmp -fPIC $(shell slic-config --cflags) -I gen-cpp
LDFLAGS         = -fopenmp -L /lib -L /lib64 $(shell slic-config --libs) -lresolv -lnsl -lthrift

EXEC = {{maxfile_name}}_server

svc = gen-cpp/{{maxfile_name}}Service.o gen-cpp/{{maxfile_name}}_constants.o gen-cpp/{{maxfile_name}}_types.o
server = {{maxfile_name}}_server.o
slic_obj = slic_{{maxfile_name}}.o

all: EXEC

EXEC:   $(svc) $(server) $(slic_obj)
	$(CC) $(CXXFLAGS) -o $(EXEC) $(svc) $(server) $(slic_obj) $(LDFLAGS)

clean:
	rm $(EXEC) $(svc) $(server)
